        /* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4{
    font-weight: bold;
}
.container70{
    width: 70%;
    margin: auto;
}
.no-padding{
    padding: 0;
}
    /* HEADER */
header, .footer-bot{
    background-color: #2c3e50;
    padding: 10px;
    width: 100%;
}

.flex-end{
    justify-content: flex-end;
}
.hamburger{
    display: none;
}
.flex{
    display: flex;
}
header ul{
    list-style-type: none;
}
.link div a, .header-sx {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.link div a{
    font-size: 12px;
}
    /* MAIN */
.hero{
    background-color: #1abc9c;
    padding: 10px;
    color: #fff;
}
.square{
    width: 100%;
}
.square img{
    width: 100%;
}
.barra-nera,.barra-bianca {
    height: 5px;
    width: 100%;
    border-radius: 5px;
}
.barra-nera{
    background-color: #000000
}
.barra-bianca{
    background-color: #ffffff;
}
.vertical-center{
    align-items: center;
}
.icona-b{
    color: #ffffff;
}
.icona-n{
    color: #000000;
}
.center{
    justify-content: center;
}
.container60{
    width: 60%;
    margin: auto;
}
        /* INPUT */
.control-short{
    width: 80%;
    display: inline-block;
}
.form-control{
    border: none;
}
.label-short{
    width: 19%;
}
hr{
    color: #cccccc;
    opacity: 1;
}
/* FOOTER */
.icone-social{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    color: #fff;
}
.color-green{
    color: #1abc9c;
}
footer{
    color: #ffffff;
    padding: 15px 0;
}
.padding{
    padding: 15px;
}
.margin{
    margin-top: 20px;
}
h3{
    font-size: 24px;
}
.footer-top{
    background-color: #3a546d;
}
.copryright{
    font-size: 10px;
}
        /* MEDIAQ */
@media screen and (max-width: 576px) {
    .link{
        display: none;
    }
    .container60, .container70{
        width: 100%;
        margin: 0;
    }
   
    .hamburger{
        display: inline-block;
        color: #fff;
    }
  }
